// Home

@import "~styles/vars";

.Home
    display block
    width 100%
    height auto
    position absolute

input
    background-color white
    color $black
    lost-column 1 / 2
    +mobile()
        color $white
        lost-column 1 / 1

.player-container
    max-width 600px
    aspect-ratio(16, 9)


