@import '~styles/vars'

.RotateDevice
    @extends .h-full-absolute
    @extend .h-flex-center
    background-color $BLACK

.RotateDevice-inner
    max-width 400px
    padding 0 16px

.RotateDevice-copy
    margin 0
    line-height 1.5em
    text-align center
    color $WHITE
