<style src="styles/views/{{#camelize}}{{name}}{{/camelize}}.styl" lang="stylus" scoped></style>

<script>
    export default{
        name: "{{#camelize}}{{name}}{{/camelize}}",
        data(){
            return {};
        },
        props: {},
        components: {},
        methods: {},
        computed: {}
    };
</script>

<template>
    <div class="{{#camelize}}{{name}}{{/camelize}}"></div>
</template>
