<template>
    <section class="{{#camelize}}{{name}}{{/camelize}}">
    </section>
</template>

<script>
export default {
    name: '{{#camelize}}{{name}}{{/camelize}}',
}
</script>

<style src="styles/views/{{#camelize}}{{name}}{{/camelize}}.styl" lang="stylus"></style>