@import '~styles/vars'

*
*::before
*::after
    box-sizing border-box

html
body
    font-family $PRIMARY_FONT
    color $BLACK
    background-color $WHITE
    -webkit-font-smoothing antialiased
    -moz-osx-font-smoothing grayscale
