@import '~styles/vars'

/*
// Use with webfont mixin like this:
webfont('FontName', 'FontNameLight', 300)
webfont('FontName', 'FontNameLightItalic', 300, italic)
webfont('FontName', 'FontNameRegular', 400)
webfont('FontName', 'FontNameItalic', 400, italic)
webfont('FontName', 'FontNameBold', 700)
webfont('FontName', 'FontNameBoldItalic', 700, italic)
*/
