<template>
    <div class="{{#camelize}}{{name}}{{/camelize}}">
    </div>
</template>

<script>
export default {
    name: '{{#camelize}}{{name}}{{/camelize}}',
}
</script>

<style src="styles/components/{{#camelize}}{{name}}{{/camelize}}.styl" lang="stylus"></style>