// Nib flex autoprefixer issue
// https://github.com/tj/nib/issues/312
flex-version = flex

@import 'styles/vars'
@import 'styles/fonts'
@import 'styles/base'
@import 'styles/core/buttons'
@import 'styles/core/headings'
@import 'styles/core/inputs'
@import 'styles/core/links'
@import 'styles/core/text'
